---
import kadirlofca from "../../data/kadirlofca.json";
---

<div class="group/all fixed -top-[1px] z-50 w-full pointer-events-none text-heights-4">
  <div class="p-kin-lg pointer-events-auto text-center backdrop-blur-md">
    <a class="link" href={"mailto:" + kadirlofca.email}>{kadirlofca.email}</a>
  </div>
</div>
