---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.name} description={project.data.description}>
  <main class="project mx-auto flex w-full max-w-[872px] flex-col gap-itemwide">
    <header role="presentation">
      <!-- <p class="pl-1 text-kroger-neutral">Kadir Lofca</p> -->
      <h1 class="mb-4 text-4xl text-kroger-highlight md:text-6xl">
        {project.data.name}
      </h1>
      <!-- <p class="mt-4">{project.data.description}</p> -->
    </header>

    <Content />
  </main>
</Layout>
