---
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

import { ViewTransitions } from "astro:transitions";
import "../global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description
        ? description
        : "Kadir Lofca is a gameplay engineer (making games since 2019) based in North Carolina. He has experience working in teams with various sizes and engines such as Unreal, Unity, and Godot."}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#151217" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-heights-0">
    <ViewTransitions />
    <div class={"min-h-lvh max-w-lvw"}>
      <slot />
    </div>
  </body>
</html>

<script src="../scripts/reveal-on-scroll.ts"></script>
