---
interface Props {
  text: string;
  class?: string;
}

const { text, class: className } = Astro.props;
---

<div class={"inline-block w-fit h-min gap-y-1 p-kin-max border-2 border-heights-3 rounded-md text-body-tiny font-black text-heights-3 " + className}>
  {text}
</div>
